extends: default

rules:
  line-length:
    max: 120
    allow-non-breakable-words: true
    allow-non-breakable-inline-mappings: true
  
  indentation:
    spaces: 2
    indent-sequences: true
  
  braces:
    forbid: non-empty
  
  brackets:
    forbid: non-empty
  
  truthy:
    allowed-values:
      - true
      - false
    check-keys: false
  
  hyphens:
    max-spaces-after: 1
  
  commas:
    forbid-trailing: true
  
  empty-lines:
    max: 2
  
  document-start:
    present: false